@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kiwi Maru", serif;
}
/*banner and the background image*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(Banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 50px;
}

/*white text box*/
.textBx {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

/* navigation bar box*/
nav {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: -100px;
  /* width: calc(100%- 100px); */
  right: 0;
  left: 0;
  bottom: -5px;
  padding: 5px 100px;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  height: 70px;
}

/* navigation list items horizontally */
nav .nav-items ul {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0 0 0 40px;
}

/* navigation items space in between */
nav .nav-items li {
  padding: 0 15px;
}
/* navigation items list and links */
nav .nav-items li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

nav .nav-items li a:hover {
  color: pink;
}
